.wrapper {
    padding: 50px 0;
    width: 1000px;
    margin: 0 auto;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    justify-items: center;
    align-items: stretch;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #ccc;
    transition: .5s;
    cursor: pointer;
    user-select: none;
}

.item:hover {
    background-color: #eee;
}

.item__img {
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item__title {
    margin-top: 1em;
}

.item__name {
    margin-top: 0.3em;
    font-size: 1.5em;
}

.item__desc {
    margin-top: 0.3em;
    overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    transition: 5s ease-in-out;
    max-height: 100px;
}

.item:hover .item__desc {
    display: block;
    -webkit-line-clamp: 10;
    max-height: 500px;

}

.item__price {
    margin-top: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: unset;
    transition: .5s;
}

.item:hover .item__price {
    background: green;
    color: tomato;
}